@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-color: #5f4b8bff;
$secondary-color: #e69a8dff;
$white-color: #fff;
$grey-color: #000;
$border-radius: 2px;

* {
  box-sizing: border-box;
}

@mixin flexBox($flexDirection, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todoWrapper {
  font-family: "Poppins", sans-serif;
  width: 60%;
  position: relative;
  padding: 2rem 4rem;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px $secondary-color, 0px 0px 5px 1px $primary-color;

  .header {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: $primary-color;
    text-align: center;
  }

  .placeholder {
    @include flexBox(row, center, center);
    height: 25vh;
    text-align: center;
    color: $primary-color;
    text-shadow: 0px 0px 20px $secondary-color;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: 2px dotted $primary-color;
    background: rgb(231, 220, 219);
  }

  .addContainer {
    @include flexBox(row, space-between, center);
    margin-bottom: 2rem;
    > input {
      outline: none;
      text-transform: capitalize;
      border: 2px solid $primary-color;
      padding: 0.5rem;
      border-radius: $border-radius;
      font-size: 1rem;
      color: $primary-color;
      &:focus {
        transition: all 0.25s ease-in-out;
        transform: scale(1.1);
        box-shadow: 0px 0px 5px 1px $secondary-color,
          0px 0px 10px 1px $primary-color;
      }

      &:nth-child(1) {
        width: 35%;
        margin-right: 1.5rem;
      }
      &:nth-child(2) {
        width: 40%;
        margin-right: 2rem;
      }
      &:nth-child(3) {
        width: 20%;
      }
    }
    > button {
      @include flexBox(column, center, center);
      cursor: pointer;
      background: none;
      outline: none;
      color: $primary-color;
      font-size: 2rem;
      border: none;
      height: 2.25rem;
      width: 2.25rem;

      &:focus,
      &:hover {
        background: $primary-color;
        border-radius: 50%;
        color: $white-color;
        transition: all 0.4s ease-in-out;
        transform: scale(1.2);
        box-shadow: 0px 0px 5px 1px $secondary-color,
          0px 0px 10px 1px $primary-color;
      }
    }
  }

  .list {
    min-height: 25vh;
    max-height: 50vh;
    overflow-y: scroll;
    .item {
      background: $white-color;
      @include flexBox(row, space-between, center);
      width: 100%;
      padding: 1rem 1.5rem 1rem 0;
      &:first-child {
        padding-top: 0;
        &:hover {
          margin-top: 0.5rem;
        }
      }
      &:last-child {
        padding-bottom: 0;
        &:hover {
          margin-bottom: 0.5rem;
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid #d7d2d2;
      }
      .editContainer {
        @include flexBox(column, space-between, flex-start);
        > input {
          outline: none;
          border: none;
          text-transform: capitalize;
          font-size: 1rem;
          padding: 0.25rem 0.5rem;
          background-color: rgb(238, 233, 233);
          &:nth-child(1) {
            font-weight: 600;
            font-size: 1.1rem;
            word-spacing: 1px;
            margin-bottom: 0.5rem;
            width: 50%;
            padding: 0.5rem;
            &::before {
              content: "Title";
              display: inline-block;
            }
          }
          &:nth-child(2) {
            font-size: 0.9rem;
            word-spacing: 1px;
            margin-bottom: 0.5rem;
            width: 100%;
            padding: 1rem 0.5rem;
          }
        }
        > button {
          display: none;
        }
      }
      .todoItemView {
        width: 70%;
        .title {
          text-transform: capitalize;
          font-weight: 600;
          font-size: 1.1rem;
          word-spacing: 1px;
          margin-bottom: 0.25rem;
          width: 70%;
        }
        .description {
          @include ellipsis();
          font-size: 0.9rem;
        }
      }
      .buttonContainer {
        width: 30%;
        @include flexBox(row, flex-end, center);
        padding-right: 1.25rem;
        .removeButton,
        .editButton {
          background: none;
          outline: none;
          border: none;
          &:hover {
            translate: all 0.25s ease;
            transform: scale(1.2);
          }
        }
      }

      &:hover {
        margin-left: 1.5rem;
        width: 90%;
        translate: all 1s ease-in-out;
        transform: scale(1.1);
        border: 1px solid #d7d2d2;
        background-color: lavender;
        border-radius: $border-radius;
        padding: 1rem;
      }
    }
  }
}
